.illustration
{
    float: right;
}

.encart
{
    float: left;
    border: 1px solid black;
    width: 120px;
    padding: .8em;
    margin-right: 1em;
    margin-bottom: 1em;
    font-style: italic;
    color: #005;
}

.encart h3
{
    margin-top: 0;
}

.encart p
{
    margin-bottom: 0;
}
